<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="over" #drawer>
        <button *ngFor="let item of menuItems" (click)="itemClick(item.url, drawer)" mat-menu-item>
            {{ item.title | translate }}
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setLang('en-us')">English</button>
    <button mat-menu-item (click)="setLang('de-de')">Deutch</button>
</mat-menu>
